body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:sandybrown;

}
.header , .footer{
    background-color:#1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 50px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(243, 245, 140);
}
.container , .container1 
{
    background-color:#1f2937;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 200px;
    margin-top: 10px;
}
.para{
    display: flex;
    
}
.para1{
    font-size: 60px;
    font-weight:bold; 
    color: honeydew;
    padding: 16px;
    margin: 16px;
    width: 400px;
    text-align:start;
}
.para2{
    padding: 16px;
    margin: 16px;
    width: 300px;
    font-size: 17px;
    color: honeydew;
}
.btn{
    background-color: rgb(79, 79, 241);
    padding: 16px;
    margin: 0px;
    margin-left: 55px;
    width: 200px;
    border-radius:10px;
    font-size: large;
    font-weight: bold;
}
.img{
    border-radius: 10px;
    border: white 4px solid;
    background-color:white;
    padding: 0px;
    margin: 16px;
   /* width: 450px;
    height: 300px;*/

}
.container1{
    background-color:#1f2937;
    background:;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10px ;
    padding-top: 50px;
    padding-bottom:120px;
}
.title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.elemetcont{
    background: rgb(102, 100, 100);
    display: flex;
    flex-direction:column ;
    align-items: center;
    border-radius: 10px;   
}

.cardcont ,.subcont{
    display:flex;
    flex-direction: row;
}
.subcont{gap: 220px;}
.card {
    background-color: honeydew;
    padding: 16px;
    margin: 16px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    img{ 
        width: 800px;
        height: 400px;
    }
.subtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0px;
    width: 100px;
    height: 80px;
    }

.container2{
    background: rgb(202, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px ;
    padding-top: 60px;
    padding-bottom:0px;
    border-radius: 150px;

}
.text{
    width: 800px;
    height: 300px;
    font-size: 28px;
    font-weight:900px;
    display: flex;
    }
.sign{
    position: relative;
   top:-180px;
   left: 300px;
   font-weight: bolder;
   
}
.container3{
    background: rgb(243, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 10px;
    border-radius: 70px;

}
.box3{
    background: cornflowerblue;
    height: 100px;
    width: 800px;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    
}
.box{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.para31 ,.para32{
    padding-top:10px;
    padding-bottom: 5px;
    margin: 0;
}
.para31{
    font-size: 19px;
    font-weight: bold;
}
.btn3{
    margin-top: 25px;
    margin-left: 100px;
    height: 40px;
    width: 80px;
    background: cornflowerblue;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid white;
    
}
a{
    text-decoration: none;
    color: honeydew;
}
.code{
    color: rgb(111, 120, 238);
}
 
li{
    list-style-type: none;
} 
.P{
    color: white;
    font-size: 40px;
    padding-left: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    border-radius:none;
}